@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-active {
    @apply bg-purple-700 text-white;
  }
}

.note-modal-footer{
  @apply py-10;
}

.btn {
  @apply bg-purple-700 text-white;
}

.note-editable{
  @apply bg-white;
}

.editor-highlight{
  @apply border rounded-md p-2;
}

.editor-highlight pre{
  /* @apply overflow-scroll ; */
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: #d7d5ff00; */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #d7d5ff00;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #41404d;
  border-radius: 14px;
  border: 3px solid #41404d;
}